/* Basic styling for Credit Management */
.customer-credit-container {
    padding: 20px;
  }
  
  h1 {
   
    margin-bottom: 20px;
  }
  
  /* Tabs */
  .tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
  }
  
  .tab-btn {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
  }
  
  .tab-btn.active {
    background-color: darkblue;
    color: white;
  }
  
  .tab-btn:hover {
    background-color: #e0e0e0;
  }
  
  /* Customer Credit Table */
  .customer-credit-content {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  .action-btn {
    padding: 8px 15px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .action-btn:hover {
    background-color: darkblue;
  }
  
  /* Credit Summary Report Form */
  .credit-summary-report {
    margin-top: 20px;
  }
  
  .filter-form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group select,
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
    color:grey;
  }
  
  .search-btn {
    padding: 10px 20px;
    background-color: darkblue !important;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width:40%;
    height:60px !important;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
  }
  
  .search-btn:hover {
    background-color: #218838;
  }
  .buttons{
    display: flex !important;
  }
  .form-group select{
    width:150% !important;
  }
  .form-group input{
    width:150px !important;
  }
  