.customer-page-container {
    padding: 20px;
  }
  
  .add-customer-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .add-customer-btn:hover {
    background-color: #45a049;
  }
  
  .customer-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .customer-table th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .edit-btn {
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .edit-btn:hover {
    background-color: #007B9E;
  }
  
  /* Modal Styles */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    width:50%;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    gap:20px;
  }
  
  .save-btn,
  .cancel-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .save-btn {
    background-color: #4CAF50;
    color: white;
  }
  
  .save-btn:hover {
    background-color: #45a049;
  }
  
  .cancel-btn {
    background-color: #f44336;
    color: white;
  }
  
  .cancel-btn:hover {
    background-color: #da190b;
  }
  
  .customer-btn{
    background-color:white;
  width:20% !important;
  height:60px !important;
  border-radius: 15px;
  border:1px solid darkblue;
  font-size: 20px;
  font-weight: bold;
  color:darkblue!important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .edit-btn{
    background-color:darkblue !important;
  width:50% !important;
  height:48px !important;
  border-radius: 15px;
  font-size: 20px;
  color:white !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .update-btn{
    background-color:darkblue !important;
  width:55% !important;
  height:60px !important;
  border-radius: 15px;
  font-size: 30px;
  color:white !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .cancel-btn{
    background-color:lightgray!important;
  width:55% !important;
  height:60px !important;
  border-radius: 15px;
  font-size: 30px;
  color:black!important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }