
.banner-container {
  width: 100%;
  height: 100vh; 
  overflow: hidden; 
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #000; 
  margin-top: 60px; 
}


.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center center; 
  /* transition: transform 0.5s ease-in-out;  */
}


/* .banner-container:hover .banner-image {
  transform: scale(1.1); 
} */



@media (max-width: 768px) {
  .search-box {
    width: 100%; 
  }
}

.banner-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navbar ul li {
  color: white;
  cursor: pointer;
  padding: 10px;
}

.navbar ul li:hover {
  background-color: #444;
}

/* About Section */
.about-container {
  display: flex;
  padding: 20px;
}

.about-left {
  flex: 1;
}

.about-right {
  flex: 2;
  padding: 20px;
}

.about-image {
  width: 100%;
  height: auto;
}

/* Price Report Section */
.price-report-container {
  text-align: center;
  padding: 20px;
}

.price-report-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.price-report-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.price-box {
  width: 200px;
  height: 150px;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diesel {
  background-color: #f4f4f4;
}

.petrol {
  background-color: #f9f9f9;
}

/* Footer Section */
.footer-container {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
.subnav{
  margin-top: 30px;
}

.subnav ul{
display: flex;
gap:40px;
}

.subnav ul li{
  list-style-type: none;
}

.subnav ul li a {
  text-decoration: none;
  color:black;
  font-size: 20px;
}
.about-right h2{
  text-align: center;
}
.about-right p{
  font-size: 24px;
  text-align: justify;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}