/* src/components/NavBar.css */
.navbar {
  background-color: darkblue !important;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 20px;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin: 0 20px;
    margin-left:-30px !important;
  
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .navbar ul li a:hover {
    color: rgba(255, 255, 0, 0.818);
  
  }
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar li {
    display: inline;
    margin-right: 15px;
  }
  
  .navbar a {
    text-decoration: none;
    color: black; /* Default color for links */
    padding: 10px;
  }
  
  .navbar .active-link {
    color: red; /* Change to your preferred active color */
    font-weight: bold; /* Optionally make the active link bold */
  }
  